
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100&family=IBM+Plex+Serif:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");


$base-font-family: "IBM Plex Serif";
$code-font-family: "IBM Plex Mono";

$base-font-size: 17px;
$small-font-size: 12px;

// ---

// this is a colour scheme based off of the colours of the magpie!

$magpie-blue-0: #1a99cc;
$magpie-blue-1: #025b6d;
$magpie-blue-2: #184e53;
$magpie-blue-3: #111847;

$magpie-green-0: #6dbe9e;
$magpie-green-1: #05926f;
$magpie-green-2: #125d45;
$magpie-green-3: #0d2c2e;

$magpie-red-0: #d5958a;
$magpie-red-1: #a17867;
$magpie-red-2: #574453;
$magpie-red-3: #372d36;

$magpie-white-0: white;
$magpie-white-1: #dee0e8;
$magpie-white-2: #aea8ac;

$magpie-black-0: #314044;
$magpie-black-1: #0f2024;
$magpie-black-2: #05161b;

$magpie-highlight-0: #f5e98e;
$magpie-highlight-1: #11f075;

/*
$background-color: #3b2b2e;
$code-background-color: #2a1b1e;

$border-color-01: #4d3838;
$border-color-02: #a77b7b;
$border-color-03: $background-color;

$brand-color: white;

$text-color: #fdf0fd;
$heading-color: white;
$site-title-color: white;
$text-italic-and-bold: #e3b9ca;
$text-strike-through: #ad727f;

$link-base-color: #f1e4b7;
$link-hover-color: #fef7e7;

$link-visited-color: $link-base-color;
*/

$text-italic-and-bold: #e3b9ca;
$text-strike-through: #ad727f;

$background-color: $magpie-black-1;
$code-background-color: $magpie-black-2;

$border-color-01: $magpie-black-0;
$border-color-02: $magpie-green-0;
$border-color-03: $magpie-black-0;

$brand-color: $magpie-white-2;

$text-color: $magpie-white-1;
$heading-color: $magpie-white-0;
$site-title-color: $magpie-white-0;

$link-base-color: $magpie-highlight-0;
$link-visited-color: $link-base-color;
$link-hover-color: $magpie-highlight-1;
