
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100&family=IBM+Plex+Serif:wght@100;400;700&display=swap");

$base-font-family: "IBM Plex Serif";

$background-color: #53606b;
$code-background-color: #483F4E;

$border-color-01: #414452;
$border-color-02: #74808a;
$border-color-03: #332d3f;

$brand-color: rgb(215, 206, 206);

$text-color: rgb(246, 231, 231);
$heading-color: white;
$site-title-color: white;

$base-font-size: 16px;
$small-font-size: 12px;

$link-base-color: #eedf71;
$link-visited-color: #eedf71;
$link-hover-color: #8ee467;
