
.site-title {
    font-weight: regular;
}

.columned-list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

/*
.wrapper {
    max-width: 1000px;
}
*/

mjx-container {
    z-index: -1 !important;
}

em, i {
    color: $text-italic-and-bold;
}

del {
    color: $text-strike-through;
}

hr {
    color: $border-color-01;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.post-content p a {
    background-image: linear-gradient($link-base-color, $link-base-color);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: all cubic-bezier(0.0, 0.5, 0.0, 1.0) 0.3s;
}

.post-content p a:hover,
.post-content p a:focus {
    background-image: linear-gradient($link-hover-color, $link-hover-color);
    background-size: 100% 1px;
}

html {
    overscroll-behavior-y: none;
}
